{% extends 'base/base.html' %}

{% block start %}
<br>
<div class="container">
<div class="card">
    <div class="card-title" style="font-family:Arial, Helvetica, sans-serif; text-align:center;"><h4>ABOUT US</h4>    </div>
    <p style="padding: 20px;color:black; font-size:17px;font-weight:410">
        Welcome to PosterCo, your one-stop-shop for all your poster needs! We are an e-commerce business that specializes in selling a wide variety of posters from various categories including movies, TV series, anime, sports, music, and more.
        <br><br>
        At PosterCo, we understand the power of a great poster. It can be a statement piece in your room or an excellent gift for a loved one. That's why we have curated a collection of high-quality posters that cater to various interests and tastes. Whether you're a fan of classic movies, the latest TV series, or your favorite sports team, we've got you covered.
        <br><br>
        Our team at PosterCo is passionate about delivering the best customer experience. We take pride in the quality of our posters and the service we provide. We want to make your shopping experience as smooth as possible, which is why we offer a user-friendly website with easy navigation, secure payment options, and fast shipping.<br><br>
        We strive to make our posters affordable without compromising on quality. Our posters are printed on premium paper using high-quality ink that ensures vibrant colors and sharp details. We also offer various sizes to cater to different needs and preferences.
        <br><br>
        At PosterCo, we value our customers, and we're committed to providing excellent customer service. If you have any questions, comments, or feedback, please don't hesitate to contact us. Our team is always ready to assist you and provide you with the best service.
        <br><br>
        Thank you for choosing PosterCo for all your poster needs. We hope you enjoy our collection as much as we do!
    </p>
    <br>
</div>
</div>
<br>
{% endblock %}