{% extends 'base/base.html' %}

{% block start %}
<br>
<div class="container">
<div class="card">
    <div class="card-title" style="font-family:Arial, Helvetica, sans-serif; text-align:center;"><h4>CANCELLATION POLICY</h4>    </div>
    <p style="padding: 20px;color:black; font-size:17px; font-weight:410">
        At PosterCo, we strive to provide you with the best shopping experience. We understand that sometimes you may need to cancel your order, and we want to make the process as easy as possible for you.
        <br><br>
        We do not provide a cancellation feature on our website. However, if you need to cancel your order, you can refuse to accept the package when it arrives from the courier. The package will be returned to us, and we will process your cancellation and issue a refund, as per our refund policy.
        <br><br>
        Please note that if you refuse to accept the package after it has been shipped, you may be responsible for any shipping fees incurred. If you have any questions or concerns about cancelling your order, please contact our customer service team at postercomail@gmail.com.
        <br><br>
        <b>Refund Policy</b><br>
        If you cancel your order by refusing to accept the package, we will process your refund within 7 business days after receiving the returned package. Refunds will be issued to the original payment method used during checkout. Please note that it may take several business days for the refund to appear on your account, depending on your bank or credit card issuer.
        <br><br>
        If you have any questions or concerns about our cancellation and refund policy, please contact us at postercomail@gmail.com. We are always happy to assist you.
    </p>
    <br>
</div>
</div>
<br>
{% endblock %}