{% extends 'base/base.html' %}

{% block start %}
<br>
<div class="container">
<div class="card">
    <div class="card-title" style="font-family:Arial, Helvetica, sans-serif; text-align:center;"><h4>PRIVACY POLICY</h4>    </div>
    <p style="padding: 20px;color:black; font-size:17px; font-weight:410">
        At PosterCo, we are committed to protecting your privacy. This Privacy Policy describes how we collect, use, and share information when you use our website.
        <br><br>
        <b>Information We Collect</b>   <br>
        We collect information that you provide to us when you use our website, such as your name, email address, and shipping address. We also collect information about your browsing behavior, such as pages viewed, the time and date of access, and IP address. We use cookies and other similar technologies to collect this information.
        <br><br>
        <b>How We Use Your Information</b><br>
        We use your information to process and fulfill your orders, improve our website and services, and communicate with you about your orders and promotions. We may also use your information to send you marketing communications if you have opted-in to receive them.
        <br><br>
        <b>Information Sharing</b><br>
        We may share your information with third-party service providers that help us process payments, fulfill orders, and manage our website. We may also share your information if required by law or to protect our rights and property.
        <br><br>
        <b>Your Choices</b><br>
        You can opt-out of receiving marketing communications from us by following the unsubscribe link in the emails we send you. You can also disable cookies on your browser, but this may affect your experience using our website.
        <br><br>
        <b>Data Security</b><br>
        We take reasonable measures to protect your information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is 100% secure.
        <br><br>
        <b>Children's Privacy</b><br>
        Our website is not intended for children under the age of 13. We do not knowingly collect personal information from children under the age of 13.
        <br><br>
        <b>Changes to this Privacy Policy</b><br>
        We may update this Privacy Policy from time to time. We will post any changes on this page and indicate the date of the latest update.
        <br><br>
        <b>Contact Us</b><br>
        If you have any questions about this Privacy Policy, please contact us at postercomail@gmail.com .
    </p>
    <br>
</div>
</div>
<br>
{% endblock %}